---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

$accent-color: {{ site.accent_colour }};

/* Misc tidying of overall layout */
.content {
  padding: 15px;
}

.site-header {
  border-top: 0px;
}

.card {
  border: 1px solid {{ site.accent_colour }};
  border-radius: .25rem;
}

.bg-img {
  height: 180px;
  border-radius: .17rem;
  display: block;
  overflow: hidden;
}

.bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-title {
  line-height: 1.3;
}

.post-header .bg-img {
  border: 1px solid {{ site.accent_colour }};
}

.centred-content {
  margin: auto;
  text-align: center;
}

blockquote {
  text-indent: -35px !important;
  padding-left: 50px !important;
}

/* Makes the meta info pretty */
.contact-list li+li {
  padding-top: 5px;
}

.contact-list .svg-icon {
  padding-right: 5px;
}

.contact-list a:hover {
  text-decoration: none;
}

.contact-list a:hover .username {
  text-decoration: underline;
}

.svg-icon {
  fill: #828282;
}

a:hover .svg-icon {
  fill: {{ site.accent_colour }};
}

/* Fixes the in-post indent applying to homepage */
.homepage-title {
  margin-left: 0px;
  padding-left: 0px;
}

/* Fixes weird table word break behaviour */
table {
  table-layout: fixed;
  word-break: break-word;
}

/* Fixes "tag" styling */
.tag,
.tag:visited {
  color: #828282;
}

/* Fixes icon / username alignment in footer */
.username,
.svg-icon {
    vertical-align: middle;
}

/* Styles the pagination & link to other blog */
.centred-homepage-content {
  width: 100%;
  text-align: center;
}

.highlight {
  background: {{ site.accent_colour }};
}

/* Adds extra padding to top right links */
.page-link {
  padding: 5px;
}

/* Adds GitHub style links to headers on mouseover */
.post-content {
  overflow-wrap: break-word;
}

h1 .octicon, h2 .octicon, h3 .octicon, h4 .octicon, h5 .octicon, h6 .octicon {
  visibility: hidden;
}

h1:hover .octicon, h2:hover .octicon, h3:hover .octicon, h4:hover .octicon, h5:hover .octicon, h6:hover .octicon {
  visibility: visible;
}

.octicon {
  fill: currentColor;
  padding: 0;
  vertical-align: middle;
}

/* Table of contents */
.toc {
  float: right;
  border: 1px solid {{ site.accent_colour }};
  border-radius: 0.25rem;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
}

@media screen and (max-width: $on-medium) {
  .toc {
    float: none;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 15px 10px;
  }
}

.toc summary {
  margin-left: 20px;
}

.toc ul {
  list-style: none;
  margin-left: 10px;
  margin-bottom: 0px;
}

.toc li {
  margin-left: 10px;
}

/* Search page */
#search-input {
  font-size: 30px;
  display: block;
  width: 400px
}

/* Site picker */
.site-picker {
  line-height: 26px;
  border-bottom: 5px solid {{ site.accent_colour }};
  text-align: center;
}

.site-tile {
  position: relative;
  padding: 3.5px 10px 3px 10px;
  color: #ffffff !important;
  white-space: nowrap;
}

.site-tile span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.site-tile .current {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0) 95%);
}

.site-tile .others {
  background: rgba(0, 0, 0, 0.4);
}

.site-tile .text {
  position: relative;
  z-index: 2;
}

/* Outdated content warning */
.outdated-warning {
  padding: 0.75rem 1rem;
  border: 1px solid {{ site.accent_colour }};
  border-radius: 0.25rem;
}

/* Calendar */
.calendar-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.calendar-month {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 2rem);
  line-height: 1.5rem;
  text-align: center;
}

.calendar-event {
  color: {{ site.accent_colour }};
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.calendar-event:hover {
  color: lighten({{ site.accent_colour }}, 10%);
}

#searchform{
  text-align: center;
}

.post{
  max-width: 740px;
  margin: auto;
}

.post a{
  color: $accent-color;
}

.card a{
  color: $accent-color;
}

.default-img{
  opacity: 0.5;
  mix-blend-mode: screen;
}

.image-shadow-box{
  background: linear-gradient(0deg, #0000 0%, $text-color 100%)
}

.post-meta{
  display: block;
}

#search-input {
  font-size: 15px;
  display: block;
  width: 100%; 
  background-color: transparent;
  color: $text-color;
  border-radius: 2pt;
  margin:auto;
  max-width: 738px;
  border: 1px solid;
  padding: 15px 10px;
}

#search-input::placeholder {
  color: $text-color;
  opacity: 0.8;
}

#searchresults{
  max-width: 738px;
  margin:auto;
}

.calendar-container {
  margin-bottom: 2rem;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 290px);
}

.calendar-month{
    min-height: calc(308px - 2rem);
    padding: 1rem 2rem;
}

.calendar-grid{
  line-height: 2rem;
}

.calendar-event:hover{
  background-color:$text-color;
  border-radius: 50px;
}

.focused-date{
  background-color:$text-color;
  border-radius: 50px;
}

.calendar-controls {
  color: $text-color;
  border-radius: 5px;
  border: 1px solid $text-color;
  height: 34px;
  left: 0;
  right: 0;
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  width: fit-content;
}

.calendar-controls button{
  display:inline-block;
  background-color: transparent;
  color:  $text-color;
  border: none;
  font-size: 25px;
}

.calendar-controls button:hover{
  color:  #fff
}

#filteredResults{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(320px, calc(33% - 1rem)), 1fr));
  gap: 1rem;
  justify-items: center;
}

.page-content .wrapper{
  max-width: 1400px;
}


#filteredResults .card{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  max-width: 738px;
  min-width: 320px;
  width: 100%;
}

.tag-container{
  max-width: 740px;
  margin:auto;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.card .tag-container{
  margin-top: 10px;
}

.post .tag-container{
  margin-top: 10px;
}

.footer-links {
  list-style: none;
  display: inline;
  text-transform: uppercase;
}

.footer-links a{
  color: $accent-color;
}

footer .wrapper{
  // max-width: 100%;
  // padding: 0;
}

.footer-links li{
  display: inline;
  margin-right: 10px;
}

.tag-container a{
  color: $accent-color;
}

.tag-container code{
  border-color: $accent-color;
  background-color: var(--minima-background-color);
  padding: 2px 10px;
  margin: 0px 1px;
}

.avatar{
  float: left;
  margin-right: 11px;
  margin-top: 11px;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  background: $text-color;
}

.langtoggle {
  position: absolute;
  right:0;
  margin:10px;
}

select, ::picker(select) {
  appearance: base-select;
}

select {
  border: 2px solid #ddd;
  background: #eee;
  padding: 8px;
  transition: 0.4s;
}

select:hover,
select:focus {
  background: #ddd;
}

.post-meta{
  text-transform: capitalize;
}

.description{
  text-align: center;
  margin-bottom: 1rem;
}

@import "custom";